parameters:
	ignoreErrors:
	    -
	        message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface::variableNode\(\).#'
	        count: 1
	        path: ./src/DependencyInjection
	    -
	        message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\TreeBuilder::root\(\).#'
	        count: 1
	        path: ./src/DependencyInjection
	    -
	        message: '#Call to method ping\(\) on an unknown class Predis\\ClientInterface.#'
	        count: 1
	        path: ./src/Check
